
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}



.main{
    min-height: 100vh;
    width: 425px;
 
}

.section-1{
    height: 100vh;
    width: 100%;
    background-color: #F7F8F9;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3vw 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 1vw;
}

.section-1 button{
    padding: 0.8vw;
    font-size: 1.2vw;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
}


.section-1 h1{
    font-size: 2.2vw;
}

.section-1 p{
    font-size: 1.5vw;
    color: #9FA1A4;
    padding-bottom: 1vw;
}

.section-1 #create-account-btn{
    background-color: #6C25FF;
    color: white;
}
.section-1 #login-account-btn{
    background-color:#CEBAFB;
    color: black;
}


/* ////////////////////////////////////////// */


.section-2 {
    margin-top: 4vw;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3vw 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 1vw;
    background-color: #F7F8F9;
}

.section-2 h1 {
    font-size: 2.2vw;
}


.section-2 p {
    font-size: 1.4vw;
    color: #9FA1A4;
    padding-bottom: 1vw;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}


.form-group {
    position: relative;
}

.form-group label {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 10;
    background-color: #F7F8F9;
    color: #6C25FF;
    padding-right:2vw;
    font-size: 1.3vw;
}

.form-group input {
    border: 1px solid gray;
    outline: 1px solid gray;
    background-color: #F7F8F9;
    border-radius: 5px;
    padding: 0.8vw;
    font: 1.5vw;
    width: 100%;
    font-size: 1.3vw;
}

.section-2 #login-btn {
    padding: 0.8vw;
    font-size: 1.2vw;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #6C25FF;
    color: white;
}



.section-3 {
    margin-top: 4vw;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F8F9;
}

.section-3 #s3-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0vw 2vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        gap: 2vw;     
}

.section-3 #form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}


.section-3 .form-group {
    position: relative;
}

.section-3 .form-group label {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 10;
    background-color: #F7F8F9;
    color: #6C25FF;
    padding-right: 2vw;
    font-size: 1.3vw;
}

.section-3 .form-group input{
    border: 1px solid gray;
    outline: 1px solid gray;
    background-color: #F7F8F9;
    border-radius: 5px;
    padding: 1.5vw;
    font: 1.5vw;
    width: 100%;
    font-size: 1.3vw;
}

.section-3 p {
    font-size: 1.4vw;
    padding-bottom: 1vw;
}


.section-3 input{
   height: 1.4vw;
   width: 1.4vw;

}


.section-3 #signin-btn {
    padding: 0.8vw;
    font-size: 1.2vw;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #6C25FF;
    color: white;
    width: 100%;
}



.section-3 .confirmation{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.section-3 .confirmation label{
    padding-left: 1vw;
}


/* ////////////////////////////////// */






.section-4 {
    margin-top: 4vw;
    height: 100vh;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 1vw;
    background-color: #F7F8F9;
}

.section-4 h1{
    width: 100%;
    padding: 1vw 2vw;
    background-color: #fdfcfc;
}


.section-4 .context{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vw 2vw;
    gap: 2vw;
    border-bottom: 1px dashed black;
}

.section-4 .context .detail{
    display: flex;
    gap: 2vw;
}

.section-4 .context .detail .profile{
    position: relative;
}

.section-4 .context .detail #profile-image{
    width: 4vw ;
    height: 4vw;
    border-radius: 50%;
}

.section-4 .context .detail #svg{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #F7F8F9;
    position: absolute;
    left: 40px;
    top: 30px;
    border-radius: 50%;
}

.section-4 .context .detail .profile-detail #name{
    font-weight: 700;
}


.section-4 .para{
    font-size: 1.3vw;

}